body{

margin:0;
font-family:Arial;
background:#020617;
color:white;
overflow-x:hidden;

}

#particles-js{

position:fixed;
width:100%;
height:100%;
z-index:-1;

}


nav{

display:flex;
justify-content:space-between;
padding:20px 10%;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}


.hero{

text-align:center;
padding:160px 20px;

}


.btn{

background:#38bdf8;
padding:12px 25px;
border-radius:8px;
color:black;
text-decoration:none;

}


section{

padding:80px 10%;

}


.stats-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;

}

.stat{

background:rgba(255,255,255,0.05);
padding:30px;
border-radius:10px;
text-align:center;

}


.counter{

font-size:40px;
color:#38bdf8;

}


.skills-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

}


.card{

background:rgba(255,255,255,0.05);
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;

}

.card:hover{

transform:translateY(-8px);

}


canvas{

background:#1e293b;
padding:20px;
border-radius:10px;

}


#github img{

width:100%;
max-width:800px;

}


#analysis{

text-align:center;

}


#analysis canvas{

margin-top:30px;

}
