body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:140px 20px;
background:linear-gradient(135deg,#020617,#1e293b);
}

.btn{
background:#38bdf8;
color:black;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
}

section{
padding:80px 10%;
}

h2{
margin-bottom:20px;
}

.skill-bar{
background:#1e293b;
height:10px;
border-radius:10px;
margin-bottom:20px;
}

.skill-fill{
height:10px;
background:linear-gradient(90deg,#38bdf8,#6366f1);
}

.sql{width:85%}
.powerbi{width:80%}
.python{width:70%}
.excel{width:90%}

.kpi-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin:30px 0;
}

.card{
background:#1e293b;
padding:25px;
border-radius:10px;
text-align:center;
}

canvas{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:25px;
border-radius:10px;
}

.project-card a{
color:#38bdf8;
}

#github img{
width:100%;
max-width:800px;
}
