body{
font-family:Arial;
margin:0;
background:#020617;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#020617,#1e293b);
}

.hero h1{
font-size:45px;
}

.kpi-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:8px;
text-align:center;
}

.card p{
font-size:22px;
color:#38bdf8;
}

.charts{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.btn{
background:#38bdf8;
color:black;
padding:12px 25px;
border-radius:5px;
text-decoration:none;
}

section{
max-width:900px;
margin:auto;
padding:60px 20px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

.skills-grid div{
background:#1e293b;
padding:15px;
text-align:center;
border-radius:5px;
}

.project{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:5px;
}

footer{
text-align:center;
padding:20px;
background:#1e293b;
}
